header{
    text-align: center;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    border-radius: 20px;
    width: 60%;
}

.article h2, h3{
    width: 100%;
    text-align: center;
}

.article img{
    width: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.article div{
    width: 65%;
    padding-left: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

table{
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
}

.droit{
    text-align: right;
}

#recap{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.bad{
    border-color: red;
}
@media screen and (max-width: 600px){
    tbody td:nth-child(1), tbody td:nth-child(4), thead th:nth-child(1), thead th:nth-child(4){
        display: none;
    }
    tfoot{
        display: flex;
        width: 250%;
        justify-content: center;
        margin-top: 20px;
    }
    tfoot tr{
        display: flex;
    }
    tfoot td{
        display: flex;
    }
    p{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}